.add-poem-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .add-poem-container h2 {
    margin-top: 0;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input,
  .form-control textarea {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .form-control textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    border-bottom-color: #0077ff;
  }
  
  .add-btn {
    background-color: #0077ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  